.productDetailSec {
    @apply pt-0;
    .headingContainer {
        @apply flex items-center gap-x-3 mb-7 mt-3;
        figure {
            @apply bg-[#ededed] w-[60px] h-[60px] relative flex items-center justify-center rounded-xl shadow-md;
            img {
                width: 75% !important;
                height: 75% !important;
                object-fit: contain;
                left: 50% !important;
                top: 50% !important;
                transform: translate(-50%, -50%);
            }
        }
        h1 {
            @apply text-[1.5rem] font-medium uppercase;
        }
        h3 {
            @apply text-[1.125rem] font-normal;
        }
    }

    .imagesRow {
        @apply relative flex items-center overflow-hidden rounded-xl gap-x-2;
        figure {
            @apply w-full relative h-[350px] max-h-[40vh] overflow-hidden flex flex-col;
            img {
                @apply w-full h-full object-cover object-center aspect-square;
            }

            &.multiImage {
                @apply w-auto min-w-[200px] px-0 gap-y-2;
                img {
                    @apply w-full h-2/4;
                }
            }
        }
        .imgTags {
            @apply absolute top-3 w-full px-3 flex items-center justify-start gap-x-3;
            .tag {
                @apply w-fit text-[12px] font-semibold text-[var(--black)] bg-[var(--white)] rounded-md px-3 py-1 flex items-center gap-x-1;
                i {
                    @apply text-[var(--theme-color)];
                }
            }
            .btnCont {
                @apply flex items-center ml-auto gap-x-2;

                a {
                    @apply flex items-center justify-center px-3 py-2.5 text-[var(--white)] bg-[#0005] rounded-md backdrop-blur-sm duration-300 transition-all;

                    &:hover {
                        @apply bg-[var(--black)];
                    }
                }
            }
        }
        .showAllBtn {
            @apply absolute bottom-3 right-3 w-fit text-[14px] capitalize font-normal text-[var(--black)] bg-[var(--white)] rounded-md px-3 py-1 flex items-center gap-x-2 transition-all duration-300 shadow-md;

            &:hover {
                @apply bg-[var(--black)] text-[var(--white)];
            }
        }
    }

    .detailLayout {
        @apply mt-8 grid grid-cols-12 gap-x-8;

        .details {
            @apply col-span-8;

            .name {
                @apply text-[1.5rem] mb-2;
            }

            .tags {
                @apply flex items-center gap-x-2 mb-4;

                .tag {
                    @apply flex items-center justify-center px-2 py-1 border rounded-md gap-x-1 shadow-md text-[1.125rem] font-normal;
                }
            }

            .priceCont {
                @apply border-y my-6 flex items-center;

                .leftSide {
                    @apply w-full pt-6 pb-3;
                    flex: 0 1 45%;

                    h2 {
                        @apply text-[2rem] font-bold;

                        .cutPrice {
                            @apply block text-[1rem] font-normal;
                        }
                    }
                }

                .rightSide {
                    @apply w-full pt-6 pb-3 border-l;
                    flex: 0 1 55%;

                    ul {
                        @apply flex items-center justify-start px-4 gap-x-20;

                        li {
                            @apply flex items-center gap-x-2 font-thin capitalize;
                        }
                    }
                }
            }

            .disclaimer {
                h4 {
                    @apply text-[1.125rem] mb-1 font-medium;
                }

                p {
                    @apply text-[14px];

                    a {
                        @apply text-[#d69900] underline underline-offset-4;
                    }
                }
            }

            .description {
                @apply mt-6;
                h4 {
                    @apply text-[1.375rem] mb-2 font-medium flex items-center gap-x-2;
                }

                p {
                    @apply text-[14px] font-light line-clamp-3;
                }

                .themeBtn {
                    @apply mt-4;
                }
            }

            .optionCont {
                @apply mt-6;
                ul {
                    li {
                        @apply flex items-center justify-between border-t py-3 text-[1.125rem] cursor-pointer transition-all duration-200 text-[var(--black)];

                        &:last-of-type {
                            @apply border-b;
                        }

                        &:hover {
                            @apply text-[var(--theme-color)];
                            i {
                                @apply text-[var(--black)];
                            }
                        }
                    }
                }
            }
        }

        .companyDetails {
            @apply col-span-4;
            .supplierBox {
                @apply border rounded-xl w-full px-4 pt-7 pb-4;

                .company {
                    @apply flex flex-col items-center justify-center gap-y-2;

                    h5 {
                        @apply uppercase text-[14px];
                    }
                }

                .btnCont {
                    @apply flex gap-x-4 mt-3 w-full;
                    a {
                        @apply w-full border-2 rounded-lg flex items-center justify-center py-4 gap-x-2 font-medium transition-all duration-300;

                        svg {
                            @apply transition-all duration-300;
                        }

                        &.call {
                            @apply border-[var(--theme-color)];
                            svg {
                                fill: var(--theme-color);
                            }

                            &:hover {
                                @apply bg-[var(--theme-color)] text-[var(--white)];
                                svg {
                                    fill: var(--white);
                                }
                            }
                        }

                        &.whatsapp {
                            @apply border-[#007B00];
                            svg {
                                fill: #007b00;
                            }

                            &:hover {
                                @apply bg-[#007B00] text-[var(--white)];
                                svg {
                                    fill: var(--white);
                                }
                            }
                        }
                    }
                    figure {
                        @apply w-2/4 border-2 rounded-lg  flex items-center justify-center;
                    }
                }
            }
        }
    }
}

.sideModal {
    @apply fixed inset-0 z-[99999] h-screen overflow-hidden invisible select-none opacity-0 transition-all duration-300;
    .backdrop {
        @apply absolute inset-0 bg-[#0005] backdrop-blur transition-all duration-300 opacity-0 invisible;
    }
    .modalContent {
        @apply absolute h-screen max-w-[500px] w-full bg-[var(--white)] top-0 z-10 -right-full transition-all duration-300;
        .modalHeader {
            @apply flex items-center justify-between border-b py-2 px-3;
            h2 {
                @apply text-[1.125rem] font-medium;
            }
            button {
                @apply w-10 h-10;
            }
        }
        .modalBody {
            @apply h-auto overflow-y-auto px-4 pt-3;
            .faqs {
                @apply flex flex-col gap-y-5;
                .faqBox {
                    @apply border rounded-md overflow-hidden border-[#bdbdbd] transition-all duration-200 shadow-md;
                    .question {
                        @apply flex items-center justify-between py-1 px-2 cursor-pointer;
                        h3 {
                            @apply font-semibold text-[1rem] transition-all duration-200;
                        }
                    }

                    .answer {
                        @apply px-2 pt-3 pb-1 hidden border-t border-t-[#bdbdbd];
                        p {
                            @apply text-[14px];
                        }
                    }

                    &:hover {
                        @apply border-[var(--theme-color)];
                        .question {
                            h3 {
                                @apply text-[var(--theme-color)];
                            }
                        }
                    }

                    &.active {
                        .answer {
                            @apply block;
                        }
                    }
                }
            }

            .reqBox {
                > h3 {
                    @apply text-[1rem] flex items-center gap-x-2 font-semibold;
                    &:has(+ ul) {
                        @apply mt-6;
                    }
                    & + ul {
                        @apply mt-1;
                    }
                }
                > P {
                    @apply text-[13px] mt-1;
                }
                ul {
                    @apply mt-5;
                    li {
                        @apply flex items-center justify-between py-2 border-b border-b-[#bdbdbd];

                        h4 {
                            @apply text-[1rem] font-normal;
                        }

                        h3 {
                            @apply text-[1rem] font-semibold;
                        }

                        i {
                            @apply text-[var(--theme-color)];
                        }

                        &.nospace {
                            @apply justify-start gap-x-2;
                        }
                    }
                }
            }
        }
    }

    &.active {
        @apply opacity-100 visible select-auto;
        .backdrop {
            @apply opacity-100 visible;
        }
        .modalContent {
            @apply right-0;
        }
    }
}
