.inputFileContainer {
    position: relative;
}

.inputFileWrapper {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 0.75em;
    // padding: 2.25em;
    // border-radius: 0.75em;
    // border: 1px dashed rgba($color: var(--rgb-bgcol1), $alpha: 1);
    transition: $transition;

    .iconWrapper {
        background-color: var(--secondary-color-100);
        border: 2px solid var(--white);
        box-shadow: 0 1px 4px 0 rgba(#0000, 0.12);
        width: 5.25em;
        height: 5.25em;
        border-radius: 30px;
    }

    &.isFieldDisabled {
        pointer-events: none;
        color: var(--secondary-color-500);
        background-color: rgba(var(--rgb-bgcol1), 0.35);
        border-color: transparent;
        transition: $transition;

        .iconWrapper {
            opacity: 0.5;
            transition: $transition;
        }
    }
}

.upload__btn {
    background-color: var(--theme-color-600);
    padding: 0.5em 0.875em;
    border-radius: 8px;
    font-weight: 500;
    color: var(--white);
}

.required {
    color: var(--danger-color);
}

.bottomLabel {
    margin-top: 0.625em;
    color: var(--secondary-color-500);
}

.uploadedFiles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
    transition: $transition;

    &.isFieldDisabled {
        pointer-events: none;
        transition: $transition;

        li {
            position: relative;
            border-color: transparent;
            color: var(--secondary-color-500);
            transition: $transition;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(var(--rgb-bgcol1), 0.35);
                z-index: 1;
            }
        }
    }
}

.fileItem {
    position: relative;
    width: 5.25em;
    height: 5.25em;
    border-radius: 30px;
    border: 1px solid var(--theme-color-300);
    overflow: hidden;
    transition: $transition;
    margin: 0;

    .removeItem {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000, $alpha: 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: $transition;
        z-index: 1;

        i {
            font-size: 2rem;
            color: var(--theme-color-100);
        }
    }

    @include respond-to($breakpoint-lg) {
        .removeItem {
            opacity: 1;
            transition: $transition;
        }
    }

    @media screen and (min-width: 1025px) {
        &:hover {
            .removeItem {
                opacity: 1;
                transition: $transition;
            }
        }
    }
}

.previewImg {
    img {
        object-fit: cover;
    }
}
.company__img {
    width: 3.75em;
    height: 3.75em;
    aspect-ratio: 1;
    border-radius: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
