.customBanner {
    @apply bg-cover bg-center text-center bg-fixed lg:h-[450px] h-[300px] text-[var(--white)];
    .content {
        @apply absolute inset-0 flex items-center flex-col justify-center w-full mx-auto bg-[#0008];
        h2 {
            @apply lg:text-[3rem] text-[2.25rem] font-bold;
        }
        p {
            @apply lg:text-[1.25rem] leading-9 text-[1rem];
        }
    }
}

.prodRow {
    @apply grid gap-x-5;
    &.col4 {
        @apply grid-cols-4;
    }
}
.addBanner {
    @apply p-0;
    figure {
        img {
            @apply w-full h-full;
        }
    }
}

.docSec {
    .contentWrapper {
        @apply grid grid-cols-12 gap-4 w-full h-full;
        .emptySpace {
            @apply lg:col-span-5;
        }
        .contentSide {
            @apply lg:col-span-7 col-span-12;
        }
    }
    @apply bg-no-repeat bg-cover bg-center;
    .content {
        @apply text-[var(--white)];
        .secHeading {
            @apply text-[var(--white)];
        }
        p {
            @apply text-[1.125rem] leading-9 mt-3;
        }
    }
    .docCardRow {
        @apply grid sm:grid-cols-2 mt-5 gap-8;
        .docCard {
            @apply bg-[var(--doc-card-bg)] shadow-md rounded-2xl overflow-hidden flex flex-col pb-2 px-5 text-[var(--white)];
            .cardHead {
                @apply text-center py-2;
                h5 {
                    @apply text-[var(--white)] font-semibold text-[1.25rem] border-b border-[var(--white)];
                }
            }
            figure {
                @apply flex items-center justify-center my-3;
            }
            ul {
                @apply px-6 pb-2;
                li {
                    @apply flex items-center gap-2;
                }
            }
            .note {
                @apply mt-auto text-center text-[14px] text-[var(--white)] font-semibold;
            }
        }
    }
}

.benefitSec {
    @apply bg-no-repeat bg-cover bg-center relative;
    &:before {
        @apply bg-[#00000038] absolute w-full h-full top-0;
        content: "";
    }
    .secHeading {
        @apply text-[var(--white)] font-black text-[2.5rem] md:text-[4rem] uppercase text-center stroke-2;
        -webkit-text-fill-color: #ffffffb8;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
        background-clip: text;
        font-family: sans-serif;

        &::before {
            content: none;
        }
    }

    .benefitRow {
        @apply grid md:grid-cols-3 gap-6 mt-8 relative;

        .benefitCard {
            @apply bg-[#00000087] text-[var(--white)] rounded-2xl overflow-hidden flex flex-col items-center py-6 px-10;

            figure {
                img {
                    filter: invert(1);
                }
            }

            h5 {
                @apply text-[1.5rem] font-semibold mt-4 mb-2;
            }
            p {
                @apply text-center;
            }
        }
    }
}

.bestCarSec {
    .secHeading {
        @apply mb-4;
    }
    .bestCarRow {
        @apply grid md:grid-cols-[40%_60%] gap-x-5 items-center gap-y-5;
        figure {
            @apply w-full;
            img {
                @apply rounded-2xl w-full;
            }
        }
        .content {
            .secHeading {
                @apply mx-auto block w-fit md:mx-0 md:inline-block md:w-auto text-center md:text-left;
            }
            ul {
                @apply mt-6;
                li {
                    @apply flex items-baseline gap-x-4 text-[1rem] text-[var(--grey-color)];
                    a {
                        @apply underline;
                    }
                    & + li {
                        @apply mt-4;
                    }
                }
            }
        }
    }
}
