.searchBar {
    @apply bg-[var(--secondary-color)] p-4 sticky top-0 z-20;
    .customContainer {
        @apply flex gap-x-4;
    }
    .searchCont {
        @apply max-w-[500px] h-[50px] w-full flex items-center border rounded-lg px-3 gap-x-2;
        input {
            @apply h-full w-full outline-none border-none bg-transparent text-[var(--white)];

            &::placeholder {
                @apply text-[var(--white)];
            }
        }
    }
    .sortBar {
        @apply flex gap-x-4 ms-auto relative;
        .dropdownCont {
            .placeholder {
                @apply border border-[var(--white)] text-[var(--white)] flex items-center h-full px-3 rounded-lg gap-x-6 text-[14px] capitalize text-left;
                .min {
                    @apply text-[12px] block;
                }
            }
            .dropdown {
                @apply absolute top-[120%] bg-[var(--white)] z-10 pt-2 pb-5 px-3 rounded-lg shadow-md min-w-[200px] overflow-hidden;
                &:has(ul) {
                    @apply px-0;
                }

                &:has(ul.sortGrid) {
                    @apply p-0;
                }

                h4 {
                    @apply text-[var(--text-colo)] font-semibold text-[1rem] mb-3;
                }
                ul {
                    @apply max-h-[200px] overflow-auto;
                    li {
                        @apply text-[14px] flex items-center justify-between py-1 cursor-pointer px-3;

                        span {
                            @apply font-bold;
                        }

                        & + li,
                        &:first-of-type {
                            @apply border-t;
                        }

                        &:last-of-type {
                            @apply border-b;
                        }

                        &.active,
                        &:hover {
                            span {
                                @apply text-[var(--theme-color)];
                            }
                        }
                    }
                }
                .gridCont {
                    @apply grid grid-cols-2 gap-4;

                    .priceInputCont {
                        label {
                            @apply text-[13px];
                        }
                        input {
                            @apply border w-full rounded-md border-[var(--black)] text-[var(--black)] p-1;

                            &::placeholder {
                                @apply text-[var(--black)] text-[11px] font-bold;
                            }
                        }
                        button {
                            @apply bg-[var(--secondary-color)] border border-transparent text-[var(--white)] text-[13px] font-medium text-center w-full block py-2 rounded-md;

                            &.transparent {
                                @apply border-2 border-[var(--secondary-color)] text-[var(--secondary-color)] bg-transparent;
                            }
                        }
                    }
                }
                .sortGrid {
                    li {
                        @apply py-3 text-[14px] justify-start gap-x-1;

                        span {
                            @apply font-normal;

                            &.min {
                                @apply text-[12px];
                            }
                        }

                        &.active {
                            span {
                                @apply font-semibold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.addGrid {
    @apply grid grid-cols-3 gap-6 border-b pb-2;
    .adImg {
        img {
            @apply w-full aspect-video h-[150px] object-contain;
        }
    }
}

.listingSec {
    @apply pt-0;
    .productGrid {
        @apply grid grid-cols-10 gap-6;
        .filteredCars {
            @apply col-span-8;
            .pageHeader {
                @apply border-b pb-2 pt-8 mb-2;
                h1 {
                    @apply text-[2.5rem] font-bold capitalize;
                }
                p {
                    @apply text-[var(--grey-color)] font-normal;
                }
            }
        }
        .sider {
            @apply col-span-2 h-full pt-10;

            .categoryDrawer {
                @apply bg-[var(--white)] shadow-md border rounded-[10px] py-6 px-3;

                .appBanner {
                    @apply overflow-hidden rounded-[10px] mb-4;
                    img {
                        @apply w-full h-full object-cover;
                    }
                }

                .categoriesDrawerCont {
                    @apply grid grid-cols-2 gap-3;
                    .categoryTab {
                        @apply bg-[var(--white)] shadow-sm border rounded-[5px] flex items-center justify-between gap-2 p-2 cursor-pointer transition-all duration-200;
                        span {
                            @apply text-[12px];
                        }

                        &:hover {
                            @apply border-[var(--theme-color)];
                        }
                    }
                    .showMoreBtn {
                        @apply relative col-span-2 flex items-center justify-center;
                        .btnWrapper {
                            @apply border-2 w-[40px] h-[40px] rounded-full border-[var(--theme-color)] text-[var(--theme-color)] mx-auto flex items-center justify-center relative bg-[var(--white)];
                        }
                        &::before {
                            content: "";
                            @apply absolute top-2/4 -translate-y-2/4 w-full h-[1px] bg-[var(--theme-color)];
                        }
                    }
                }
            }
            .faqCont {
                @apply mt-5 bg-[var(--white)] shadow-md border rounded-[10px];
                .question {
                    @apply flex items-center gap-x-2 justify-between px-3 py-3 cursor-pointer transition-all duration-300;
                    h4 {
                        @apply text-[14px] font-semibold text-[var(--secondary-color)] transition-all duration-300;
                    }
                    i {
                        @apply text-[14px] transition-all duration-300;
                    }

                    &:hover {
                        h4,
                        i {
                            @apply text-[var(--theme-color)];
                        }
                    }
                }
                .answer {
                    @apply px-3 py-2 border-t;
                    ul {
                        li {
                            @apply flex gap-x-2 items-baseline;
                            .dot {
                                @apply w-[5px] h-[5px] bg-[var(--secondary-color)] rounded-full block;
                                flex: 0 1 5px;
                            }
                            span {
                                width: calc(100% - 15px);
                                flex: calc(100% - 15px);
                                @apply text-[12px];
                            }

                            & + li {
                                @apply mt-3;
                            }
                        }
                    }
                }
            }

            .rightAdd {
                @apply h-[450px] w-full relative rounded-[10px] overflow-hidden mt-5 sticky top-[100px];
                img {
                    @apply w-full h-full object-cover;
                }
            }
        }
    }
}

.contentSec {
    .secHeading {
        @apply mt-8;

        & + * {
            @apply mt-3;
        }
    }

    p,
    li {
        @apply text-[var(--grey-color)] font-thin flex items-baseline gap-x-3;
    }

    p {
        & + p,
        & + ul {
            @apply mt-3;
        }
    }

    ul {
        li {
            & + li {
                @apply mt-1;
            }
        }

        & + p {
            @apply mt-3;
        }
    }
}

.filtersCont {
    @apply fixed inset-0 h-screen w-full z-50 select-none pointer-events-none;

    &.active {
        @apply pointer-events-auto select-auto;
        .backDrop {
            @apply opacity-100 visible;
        }
        .filterMenu {
            @apply right-0;
        }
    }

    .backDrop {
        @apply fixed inset-0 bg-[#0005] backdrop-blur-sm opacity-0 invisible transition-all duration-300 ease-linear;
    }
    .filterMenu {
        @apply bg-[var(--white)] absolute right-[-450px] top-0 max-w-[450px] w-full h-screen overflow-y-auto transition-all duration-300 ease-linear flex flex-col;

        .filterHeader {
            @apply flex items-center justify-between pl-3 py-0 border-b-2;
            h3 {
                @apply text-[1.25rem] font-semibold;
            }
            button {
                @apply w-8 h-8 flex items-center justify-center bg-gray-300 rounded-full my-2 mr-2 transition-all duration-200;

                &:hover {
                    @apply bg-[var(--theme-color)];
                }
            }
        }
        .filterBody {
            @apply pb-28;
            ul {
                li {
                    @apply border-b py-4;

                    > button {
                        @apply text-[14px] px-4 w-full flex items-center justify-between capitalize cursor-pointer transition-all duration-300;

                        span {
                            @apply transition-all duration-200;
                        }

                        &:hover {
                            span {
                                @apply text-[var(--theme-color)];
                            }
                        }
                    }
                    .menuContainer {
                        @apply w-full pt-2 px-4;
                        .inputCont {
                            label {
                                @apply text-[12px];
                            }
                            input,
                            select,
                            textarea {
                                @apply text-[12px] mt-2;
                            }

                            & + .inputCont {
                                @apply mt-5;
                            }

                            &.checkbox {
                                span {
                                    @apply text-[12px];
                                }
                            }
                        }

                        &:has(> .checkbox) {
                            @apply mt-3;
                        }
                    }
                }
            }
        }
        .filterFooter {
            @apply fixed w-full px-4 py-6 border-t bottom-0 bg-[var(--white)] max-w-[450px];
            .btnCont {
                @apply flex items-center justify-between gap-x-2;
            }
        }
    }
}
