.profileWrapper {
    @apply w-full;
    h2 {
        @apply mb-[20px] text-[1.25rem];
        font-weight: 600;
    }.profileField {
        @apply flex items-center justify-between py-4 border-b border-white;
        .label {
            @apply flex-1 font-[500] text-[#333];
      }.value {
        @apply flex-[2] text-[#555] pl-[10px];
      }.editBtn {
        @apply text-[var(--theme-color)] border-none cursor-pointer font-bold; 
        transition: 0.2s;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  