body {
    &:has(.modal) {
        &:is(.visible) {
            overflow: hidden;
        }
    }
}
.modal {
    @apply fixed inset-0 items-center justify-center hidden z-50;

    &.visible {
        @apply flex;
    }

    .modalBackdrop {
        @apply bg-[#0005] backdrop-blur-sm absolute inset-0;
    }

    .modalWrap {
        @apply relative bg-[var(--white)] rounded-xl overflow-hidden max-w-[40%];
        .modalHeader {
            @apply flex items-center justify-between px-3 border-b border-b-[#bdbdbd];

            h3 {
                @apply text-[1.125rem] font-semibold;
            }

            .closeBtn {
                @apply w-12 h-12 flex items-center justify-center;
            }
        }
        .modalBody {
            @apply grid grid-cols-2 px-3 py-5 gap-x-3;
            .content {
                figure {
                    @apply w-full h-[220px];
                    img {
                        @apply w-full h-full object-cover;
                    }
                }

                h6 {
                    @apply text-[1.125rem] text-left font-medium;
                }
            }

            .formWrap {
                .themeBtn {
                    @apply w-full flex items-center justify-center gap-x-1;

                    &.googleBtn {
                        @apply bg-[#518ef8] text-[var(--white)];
                    }
                }
                .or {
                    @apply relative py-5;

                    &::before {
                        content: "";
                        @apply absolute h-0.5 w-full bg-[#bdbdbd] top-2/4 -translate-y-2/4;
                    }
                    span {
                        @apply block text-center relative z-10 font-bold bg-[var(--white)] w-fit mx-auto px-2 text-[1.25rem];
                    }
                }
                .inputWrap {
                    + .inputWrap {
                        @apply mt-4;
                    }

                    &.checkbox {
                        @apply flex items-center justify-between;
                        .checkboxWrap {
                            @apply w-5 h-5 block relative border-[#bdbdbd] border transition-all duration-200;
                            flex: 0 1 20px;
                            input {
                                @apply absolute opacity-0  z-10 inset-0;
                            }

                            i {
                                @apply absolute inset-0 w-full h-full flex items-center justify-center text-[var(--white)] opacity-0 transition-all duration-200;
                            }

                            &:has(input:checked) {
                                @apply bg-[var(--theme-color)] border-transparent;

                                i {
                                    @apply opacity-100;
                                }
                            }
                        }
                        label {
                            @apply block text-[14px] font-normal;
                            width: calc(100% - 30px);
                            flex: 0 1 calc(100% - 30px);
                        }
                    }

                    &.otp {
                        @apply grid grid-cols-4 gap-x-5 mt-2;
                        input {
                            @apply border w-full h-[60px] rounded-lg border-[#bdbdbd] text-[2rem] text-center;
                        }
                    }

                    .notRcv {
                        @apply text-right text-[14px] font-normal mt-1;
                        button {
                            @apply text-[#0d6efd];
                        }
                    }
                }

                .otpCont {
                    @apply h-full flex flex-col justify-between;

                    h2 {
                        @apply text-[1.5rem] font-semibold;
                    }

                    h6 {
                        @apply text-[1rem];
                        span {
                            @apply text-[#0d6efd] font-medium;
                        }
                    }

                    label {
                        @apply mt-2 font-bold text-[1.375rem] block;
                    }

                    .small {
                        @apply text-[12px] font-medium mt-auto;
                    }
                }
            }
        }
    }
}
