.menuWrapper {
    @apply relative z-50;
    header {
        @apply bg-[var(--secondary-color)] relative z-20;
        .headerContainer {
            @apply container md:px-2 lg:px-0;
        }
        .topHeader {
            @apply bg-[var(--black)] py-2;
            .headerRow {
                @apply flex items-center justify-between;
                // * {
                //     @apply text-[var(--white)];
                // }
                .leftNav {
                    @apply flex items-center;
                    .location {
                        @apply relative;
                        .placeHolder {
                            @apply flex items-center gap-x-2 text-[var(--white)] cursor-pointer;
                            .mapMarker {
                                @apply text-[var(--theme-color)];
                            }
                        }
                        .dropdown {
                            @apply absolute z-10 bg-[var(--white)] min-w-[250px] rounded-2xl shadow-md pt-3 pb-5 max-h-[350px] overflow-auto top-0 opacity-0 invisible select-none pointer-events-none transition-all duration-300;
                            ul {
                                li {
                                    button {
                                        @apply text-[var(--black)] px-3 py-1 text-[14px] font-medium flex items-center w-full;
                                        i {
                                            @apply block ms-auto;
                                        }
                                        &.active {
                                            @apply text-[var(--theme-color)];
                                        }
                                    }
                                    + li {
                                        @apply border-t;
                                    }

                                    &:last-child {
                                        @apply border-b;
                                    }

                                    &:hover,
                                    &.active {
                                        button {
                                            @apply text-[var(--theme-color)];
                                        }
                                    }
                                }
                            }

                            &.navShow {
                                @apply top-[130%] select-auto opacity-100 visible pointer-events-auto;
                            }
                        }
                    }
                }

                .rightNav {
                    .login {
                        @apply flex items-center text-[var(--theme-color)] gap-x-2 text-[14px];
                    }
                    .userMenu {
                        @apply flex items-center gap-x-2 text-[14px] text-[var(--white)];
                        h5 {
                            @apply relative;

                            &::before {
                                content: "";
                                @apply absolute bottom-0 left-0 w-full h-[1px] bg-[var(--white)] scale-x-0 origin-left transition-all duration-200;
                            }
                        }

                        &:hover {
                            h5 {
                                &::before {
                                    @apply scale-x-100;
                                }
                            }
                        }
                    }
                }
            }
        }
        nav {
            @apply flex items-center  gap-x-8 py-4;

            .navItems {
                @apply ms-auto;
                ul {
                    @apply flex items-center gap-x-6;
                    li {
                        a {
                            @apply text-[var(--white)] flex items-center gap-2 text-[0.875rem] relative;

                            &::before {
                                content: "";
                                @apply absolute -bottom-1 left-0 w-full h-[2px] bg-[var(--white)] transition-all duration-200 scale-x-0 origin-left;
                            }
                        }

                        &:hover {
                            a {
                                &::before {
                                    @apply scale-x-100;
                                }
                            }
                        }
                    }
                }
            }

            .searchBarCont {
                @apply flex items-center gap-x-8;
                .inputCont {
                    @apply border-[var(--white)];
                    input,
                    button {
                        @apply text-[var(--white)];
                        &::placeholder {
                            @apply text-[var(--white)];
                        }
                    }
                }
            }
        }
    }

    .brandsDropdown {
        @apply shadow-md w-full absolute min-h-[200px] top-[0px] opacity-0 invisible pointer-events-none select-none transition-all duration-300 z-10;
        background: linear-gradient(90deg, rgb(236 234 230) 0%, rgb(228 225 220) 100%);

        &.navShow {
            @apply select-auto pointer-events-auto opacity-100 visible top-[113px];
        }

        .brandsCont {
            @apply flex items-center justify-center flex-wrap gap-12 container py-12;
            .brandCont {
                @apply flex items-center gap-x-2;
                figure {
                    img {
                        @apply transition-all duration-200 object-contain;
                    }
                }

                h6 {
                    @apply text-[var(--black)] text-[14px] font-semibold capitalize;
                }

                &:hover {
                    figure {
                        img {
                            @apply scale-125;
                        }
                    }
                }
            }
        }
    }

    .categoryDropdown {
        @apply absolute min-h-[200px] top-[0px] opacity-0 invisible pointer-events-none select-none transition-all duration-300 z-10 bg-[var(--white)] rounded-xl overflow-hidden;
        box-shadow: 0 0 15px 5px #0003;

        &.navShow {
            @apply select-auto pointer-events-auto opacity-100 visible top-[113px];
        }

        .catRow {
            @apply flex;
            .catCol {
                @apply p-4 min-w-[250px];
                h4 {
                    @apply text-[14px] font-bold capitalize text-[#727171] m-0;
                }
                ul {
                    li {
                        a {
                            @apply text-[var(--black)] py-2 w-full inline-block text-[14px] font-medium transition-all duration-300;
                            &:hover {
                                @apply text-[var(--theme-color)];
                            }
                        }
                        + li {
                            @apply border-t border-[#bfbfbf75];
                        }
                    }

                    + h4 {
                        @apply mt-8;
                    }
                }

                &:last-child {
                    @apply bg-[#f6f6f6];
                }
            }
        }
    }
}

.headerMenu {
    @apply relative;
    header {
        @apply bg-[var(--secondary-color)] py-3 px-4 shadow-md;
        .headerRow {
            @apply flex items-center justify-between;
            .location {
                .placeHolder {
                    @apply flex items-center gap-x-2 text-[var(--white)] cursor-pointer text-[1.125rem] font-medium;
                    .mapMarker {
                        @apply text-[var(--theme-color)];
                    }
                }
            }
            .menu {
                button {
                    @apply text-[var(--white)] text-[1.125rem] font-medium w-12 h-12 flex items-center justify-center;
                }
            }
        }
    }
    .fullMenu {
        @apply w-full h-full z-50 relative pointer-events-none transition-all duration-300;
        &.navShow {
            @apply pointer-events-auto;

            .menuCont {
                @apply left-0;
            }

            .backDropBg {
                @apply opacity-100 visible;
            }
        }
        .backDropBg {
            @apply fixed inset-0 w-screen h-screen bg-[#0009] backdrop-blur-sm z-0 transition-all duration-300 opacity-0 invisible;
        }

        .menuCont {
            @apply fixed h-screen overflow-y-auto max-w-[300px] w-full top-0 bg-[var(--white)] z-10 transition-all duration-300 pt-14 shadow-md -left-[300px];

            &:has(h4) {
                @apply pt-0;
            }
            .closeBtn {
                @apply absolute top-0 right-0 cursor-pointer h-12 w-12 flex items-center justify-center text-[1.125rem];
            }
            .rightNav {
                @apply flex justify-center my-4;
                
                button.login {
                    @apply bg-[var(--theme-color)] py-2 px-6;
                    border-radius: 4px;
                }

                button i {
                    padding-right: 0.5rem;
                }
                .userMenu {
                    @apply flex items-center gap-3;
                }
            }

            h4 {
                @apply text-[var(--grey-color)] text-[1.25rem] text-center py-2 bg-gray-200 font-semibold capitalize;
            }
            ul {
                li {
                    button,
                    a {
                        @apply py-3 px-4 text-[var(--black)] font-medium transition-all duration-300 flex items-center justify-between w-full capitalize;
                        &.active {
                            @apply text-[var(--theme-color)];
                        }
                    }

                    @apply border-t;

                    &:last-child {
                        @apply border-b;
                    }
                }

                &.brands {
                    li {
                        a,
                        button {
                            // @apply justify-start gap-x-2;
                            figure {
                                @apply w-24 h-12 overflow-hidden;
                                img {
                                    @apply h-full w-full object-contain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

html {
    &:has(.headerMenu .navShow) {
        overflow: hidden;
    }
}
