.blogDetailSec {
    .wrapperRow {
        @apply grid grid-cols-12 gap-4;
        .detailWrapper {
            @apply col-span-9 bg-[var(--white)] py-4 px-4 rounded-lg shadow-xl;
            .tags {
                @apply flex items-center justify-start;
                .tag {
                    @apply bg-[var(--theme-color)] px-3 py-1 rounded-md font-semibold text-[12px];
                }
            }
            h1 {
                @apply text-[3.5rem] font-bold leading-[4rem] mt-6;
            }
            .minDetails {
                @apply flex items-center mt-4;

                span {
                    @apply px-3 flex items-center gap-x-2 text-[13px] text-[var(--grey-color)] font-medium;
                    & + span {
                        @apply border-l border-[var(--black)];
                    }
                }
            }
            .imgWrapper {
                @apply relative w-full h-[500px] rounded-lg overflow-hidden mt-4;
                img {
                    @apply w-full h-full object-cover;
                }
            }
            .content {
                @apply mt-4;
                p {
                    @apply text-[1rem] text-[var(--grey-color)] leading-6;

                    & + p {
                        @apply mt-3;
                    }
                }
            }
        }
        .sider {
            @apply col-span-3 grid gap-y-4 h-fit sticky top-4;
            .card {
                @apply bg-[var(--white)] py-4 px-4 rounded-lg shadow-xl;
                h3 {
                    @apply text-[1.375rem] font-bold mb-3;
                }
            }
            .socialCard {
                .tags {
                    @apply grid grid-cols-2 gap-3;
                    .tag {
                        @apply bg-[var(--background)] shadow-md flex items-center justify-center gap-x-2 rounded-md py-3;
                        span {
                            @apply capitalize font-medium;
                        }

                        &.fb {
                            @apply bg-[#1877F2] text-[var(--white)];
                        }

                        &.twitter {
                            @apply bg-[#1DA1F2] text-[var(--white)];
                        }

                        &.linkedin {
                            @apply bg-[#0A66C2] text-[var(--white)];
                        }

                        &.insta {
                            @apply text-[var(--white)];
                            background: #f09433;
                            background: -moz-linear-gradient(
                                45deg,
                                #f09433 0%,
                                #e6683c 25%,
                                #dc2743 50%,
                                #cc2366 75%,
                                #bc1888 100%
                            );
                            background: -webkit-linear-gradient(
                                45deg,
                                #f09433 0%,
                                #e6683c 25%,
                                #dc2743 50%,
                                #cc2366 75%,
                                #bc1888 100%
                            );
                            background: linear-gradient(
                                45deg,
                                #f09433 0%,
                                #e6683c 25%,
                                #dc2743 50%,
                                #cc2366 75%,
                                #bc1888 100%
                            );
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        }
                    }
                }
            }
            .categoryCard {
                .categoryTag {
                    @apply relative block px-6 py-4 rounded-md overflow-hidden transition-all duration-300;
                    & + .categoryTag {
                        @apply mt-4;
                    }
                    > img {
                        @apply w-full h-full object-cover;
                    }

                    &::before {
                        @apply absolute inset-0 h-full w-full bg-[#0005] z-10;
                        content: "";
                    }
                    .content {
                        @apply bg-[#fff5] relative z-10 py-4 rounded-md flex items-center justify-center backdrop-blur-sm shadow-md shadow-[#fff2] transition-all duration-300;

                        h2 {
                            @apply text-[1.25rem] font-medium text-[var(--white)];
                        }
                    }
                    &:hover {
                        @apply p-2;

                        .content {
                            @apply py-6;
                        }
                    }
                }
            }
        }
    }
}

.relatedBlogs {
    .blogsRow {
        @apply grid grid-cols-3 gap-4;
    }
}
